.header-wrapper {
  width: 100%;
}
.hero-image {
  min-height: 550px;
}
.hero {
  position: static;
}
.hero-description {
  width: 80%;
  left: 10%;
  padding: 20px;
  top: 500px;
}
.hero-description h1 a {
  font-size: 1.5rem;
  line-height: 1.2;
}
.blog-posts {
  margin-top: 8rem;
}
.single-blog {
  flex-basis: 48%;
}
.footer-wrapper {
  max-width: 100%;
  margin: 0;
  justify-content: center;
}
