.header-wrapper {
  width: 100%;
}
.navbar {
  display: none;
}
.hero-image {
  min-height: 350px;
}
.hero {
  position: static;
}
.hero-description {
  width: 80%;
  left: 10%;
  padding: 20px;
  top: 400px;
}
.hero-description h1 a {
  font-size: 1.5rem;
  line-height: 1.2;
}
.blog-posts {
  margin-top: 14rem;
}
.single-blog {
  flex-basis: 48%;
}
.footer-wrapper {
  max-width: 100%;
  margin: 0;
  justify-content: center;
}
